*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mains{
    height: 500px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 65px 55px;
    overflow: hidden;
}
#mains img{ 
    height: 100%;
    width: 100%;
    object-fit:cover; 
    border-radius: 5px;
    position: relative;
    top: -36px;
}
#icon{
 position: relative;
 top: -36px;
 padding: 3px 3px; 
 margin: 3px 3px;
 display: flex;
 justify-content: space-evenly;
}
h3{
    text-align: center;
    position: relative;
    top: -45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#love2{
    color: white;
    font-size: 75px;
    position: absolute;
    top: -500%;
    left: 50%;
    transform: translate(-50% ,-50%)scale(0); 
    opacity:0;
    transition: transform ease 0.5s;
}